.about {
  overflow-x: hidden;
}

.hero {
  /* max-height: 600px; */
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* about */

.mainAbout {
  max-width: 1200px;
}
.mainAbout .images {
}

.mainAbout .text {
  max-width: 575px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.mainAbout .text .subTitle {
  color: var(--main-color);
  font-size: var(--sub-title-size);
  /* text-transform: uppercase; */

  border-block-end: 2px solid rgba(128, 128, 128, 0.241);
}

.mainAbout .text .mainTitle {
  color: var(--main-color);
  text-transform: capitalize;

  font-size: var(--main-title-size);
}

.mainAbout .text .description {
  color: var(--gray-color);
  font-size: var(--description-size);
}

.mainAbout .text .signature picture img {
  width: 100%;
  max-width: 250px;
}

.mainAbout .text .numbers .title {
}
.mainAbout .text .numbers .data {
  font-size: var(--description-size);
  color: var(--gray-color);
}

/* value */

.value {
  position: relative;
  max-width: 1200px;
}

.value::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #ecf5fe;
  z-index: -1;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.value .text {
}

.value .text .subTitle {
  font-size: var(--sub-title-size);

  text-transform: uppercase;
}

.value .text .row .title {
  font-size: var(--h4-size);
}

.value .text .row .description {
  font-size: var(--description-size);
  color: var(--gray-color);
}

.value .images {
  display: flex;
  align-items: center;
  
}