.packagesBody .text {
  color: var(--main-color);
}

.packagesBody .text .subTitle {
  font-size: var(--sub-title-size);
}

.packagesBody .text .mainTitle {
  font-size: var(--main-title-size);
  max-width: 800px;
  text-transform: capitalize;
}

.packagesCardsContainer {
  background-color: transparent;
}

.packagesBody .text .description {
  font-size: var(--description-size);
  max-width: 850px;
  color: var(--gray-color);
}

.packagesBody .text .description span {
  color: var(--main-color) !important;
}

.packagesCardsContainer {
  /* background-color: white; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* width: 80% !important; */
}

@media screen and (max-width: 992px) {
  .packagesCardsContainer {
    width: 100% !important;
  }
}

.packagesCardsContainer .packagesCard {
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: white;
}

.packagesCardsContainer .packagesCard .cardBody .type,
.packagesCardsContainer .packagesCard .cardBody .title {
  color: var(--main-color);
  font-size: var(--h3-title-size);
  text-transform: capitalize;
  /* height: 50px; */
  max-width: 300px !important;
  /* min-height: 70px; */
  line-height: 35px;
}

.packagesCardsContainer .packagesCard .cardBody .type {
  margin: 0 !important;
  margin-block-end: 2.5px !important;
}

.packagesCardsContainer .packagesCard .cardBody .price {
  display: flex;
  gap: 5px;
  text-transform: capitalize;
  align-items: baseline;
}

.packagesCardsContainer .packagesCard .cardBody .price span:first-of-type {
  font-weight: bold;
  font-size: 16px;
}

.packagesCardsContainer .packagesCard .cardBody .price span:first-of-type {
  font-weight: bold;
  font-size: 16px;
}

.packagesCardsContainer .packagesCard .cardBody .price span:nth-of-type(2) {
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
}

.price span:last-of-type {
  text-decoration: line-through;
  color: var(--gray-color);
  font-size: 14px;
}

.packagesCardsContainer .packagesCard .cardBody .description {
  color: var(--gray-color);
  font-size: 16px;
  /* min-height: 100px; */
  text-transform: capitalize;
  list-style-type: disc;
  list-style-position: inside;
}

@media screen and (min-width: 1300px) {
  .packagesCardsContainer .packagesCard .cardBody .description {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  .packagesCardsContainer .packagesCard .cardBody .description {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .packagesCardsContainer .packagesCard .cardBody .description {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .packagesCardsContainer .packagesCard .cardBody .description {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .packagesCardsContainer .packagesCard .cardBody .description {
    font-size: var(--description-size);
  }
}

.packagesCardsContainer .packagesCard .cardBody .description li {
  position: relative;
}

.packagesCardsContainer .packagesCard .cardBody .includes {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .packagesCardsContainer .packagesCard .cardBody .title {
    min-height: 45px;
  }

  .packagesCardsContainer .packagesCard .cardBody .includes {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.packagesCardsContainer .packagesCard .cardBody .includes > p span {
  color: var(--main-color);
  text-transform: capitalize;
}

.more {
  font-weight: bold;
  color: var(--main-color);
  background-color: var(--main-color);
  color: white;
  font-size: 12px;
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* 
.packagesBody .link {
  text-align: center;
  text-transform: capitalize;
  color: var(--gray-color);
  font-size: 12px;
  border: 1px solid var(--gray-color);
  width: fit-content;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .packagesBody .link {
    display: flex;
    flex-direction: column;
  }
}

.packagesBody .link a {
  color: var(--main-color);
} */
