/* hero */

.home {
  overflow-x: hidden;
}

.hero {
  position: relative;
  background-image: linear-gradient(to left, var(--main-color), #ac62ad);
  /* height: 100vh;
  max-height: 660px; */
  display: flex;
  align-items: center;
}

.hero .content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.hero .content .text {
  color: white;
}

.hero .content .text .special {
  font-size: var(--sub-title-size);
}

.hero .content .text h1 {
  font-weight: 600;
}

.hero .images {
  position: relative;
  display: flex;
  justify-content: center;
}

.hero .images picture:first-of-type img {
  width: 100%;
  max-width: 350px !important;
  position: relative;
  z-index: 1;
}

.hero .images picture.items {
  position: absolute;
  top: 50px;
  animation: rotate 10s linear 0s infinite;
  -webkit-animation: rotate 10s linear 0s infinite;
}

.hero .images picture.items img {
  width: 100%;
  max-width: 550px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.hero .images img {
  /* width: 100%;
  max-width: 250px; */
}

/* .hero .images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .images picture img {
  width: 100%;
  max-width: 350px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.hero .images picture:first-child img {
  z-index: 1;
}

.hero .images picture:last-child img {
  z-index: 0;
  max-width: 500px !important;
} */

.offer {
  display: flex;
  max-width: 550px;
  gap: 25px;
  border-end-end-radius: 55px;
  border: 2px solid white;
}

.offer p {
  margin: 0;
  /*  */
}

.offer .price {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--h4-size);
  position: relative;
  background-color: white;
}

.offer .price .percentage {
  position: absolute;
  top: -22.5px;
  left: 50%;
  font-size: 16px;
  text-align: center;
  background-color: var(--main-color);
  color: white;
  width: 150px;
  height: 35px;
  display: grid;
  place-items: center;
  z-index: 1;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-transform: uppercase;
}

.offer .price .before {
  position: relative;
  color: #a1a1a1d0;
  font-size: 1rem;
}

.offer .price .before::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: var(--main-color);
  transform: rotate(-7.5deg);
  -webkit-transform: rotate(-7.5deg);
  -moz-transform: rotate(-7.5deg);
  -ms-transform: rotate(-7.5deg);
  -o-transform: rotate(-7.5deg);
}

.offer .price .after {
  /*  */
}

.testAndParameters {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.offer .test,
.offer .parameters {
  display: flex;
  align-items: center;
}

.offer .test .body,
.offer .parameters .body {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 60px;
}

.offer .parameters .body {
  width: 175px;
  border-inline-start: 2px white solid;
}

.offer .test .icon,
.offer .parameters .icon {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--main-color);
  font-size: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.offer .test .data p,
.offer .parameters .data p {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*  */
}

.offer .test .data p.number,
.offer .parameters .data p.number {
  /*  */
  font-size: var(--sub-title-size);
  line-height: 30px;
}

.offer .test .data p.title,
.offer .parameters .data p.title {
  /*  */
  font-size: var(--description-size);
  text-transform: capitalize;
}

@media screen and (max-width: 576px) {
  .offer {
    flex-direction: column;
    border-end-end-radius: 25px;
    border-end-start-radius: 25px;
  }
  .offer .price {
    justify-content: center;
  }
  .testAndParameters {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .offer .parameters .body {
    padding-inline-start: 0px;
    border-inline-start: none;
  }
}

/* Statistics */

.statistics .item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statistics .item .info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.statistics .item .info .icon {
  width: 50px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  color: var(--blue-color);
  font-size: 24px;
}

.statistics .item .info .number {
  font-size: var(--sub-title-size);
  /*  */
}

.statistics .item .description {
  font-size: 12px;
  color: var(--gray-color);
}

.wrapper {
  position: relative;
  padding-block-end: 100px;
}

.wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 850px;
  background-image: linear-gradient(to top, #dae7fc, transparent);
  z-index: -1;
  opacity: 0.85;
}

.home .link {
  text-align: center;
  text-transform: capitalize;
  color: var(--gray-color);
  font-size: 12px;
  border: 1px solid var(--gray-color);
  width: fit-content;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .home .link {
    display: flex;
    flex-direction: column;
  }
}

.home .link a {
  color: var(--blue-color);
}

/* advantages */

.advantages {
  width: 100%;
  /* height: 62vh;
  max-height: 475px; */
  align-items: center;
  position: relative;
}

.advantages::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 80%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media screen and (max-width: 992px) {
  .advantages {
    padding: 0 !important;
  }
  .advantages::before {
    height: 100%;
  }
}

.advantages .image {
  position: relative;
  width: 100%;
  max-width: 530px;
}

.advantages .text {
  color: white;
  position: relative;
  top: 15px;
  padding-inline: 25px;
}

.advantages .text .title {
  font-size: var(--h4-size);
  font-weight: bold;
}

.advantages .text .description {
  font-size: clamp(8px, 2vw, 12px);
}

.advantages .text .advantagesTopics {
  font-size: clamp(8px, 2vw, 12px);
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-inline: 25px;
}

.advantages .text .advantagesTopics .topic {
  text-align: center;
  background-color: white;
  width: fit-content;
  color: var(--main-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media screen and (max-width: 1200px) {
  .advantages .text .advantagesTopics {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 992px) {
  .advantages {
    flex-direction: column;
    padding-block-end: 50px;
    text-align: center;
  }
  .advantages .text .advantagesTopics {
    flex-direction: row;
    align-items: center;
  }
}
/* testmonials */
.testmonials {
  background-color: var(--main-color);
}

.testmonials .testmonialsBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testmonials .testmonialsBody .title {
  font-size: var(--h4-size);
  text-transform: capitalize;
  font-weight: bold;
  color: white;
}

.testmonials .testmonialsBody .description {
  font-size: var(--description-size);
  color: white;
  width: 100%;
  max-width: 750px;
}

.testmonials .testmonialsBody .opinion {
  background-color: white;
  margin-inline-end: 15px !important;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 25px !important;
}
.testmonials .testmonialsBody .opinion .personalInfo {
  display: flex;
}
.testmonials .testmonialsBody .opinion .personalInfo .profileImage {
  position: relative;
}
.testmonials
  .testmonialsBody
  .opinion
  .personalInfo
  .profileImage
  .image
  picture
  img {
  width: 150px;
}
.testmonials .testmonialsBody .opinion .personalInfo .profileImage .qoute {
  position: absolute;
  bottom: 27.5px;
  right: 27.5px;
  background-color: var(--blue-color);
  color: white;
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testmonials .testmonialsBody .opinion .personalInfo .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.testmonials .testmonialsBody .opinion .personalInfo .data .name {
  margin: 0 !important;
  font-size: var(--description-size);
  text-transform: capitalize;
}
.testmonials .testmonialsBody .opinion .personalInfo .data .rating {
  color: goldenrod;
  font-size: 10px;
  display: flex;
  gap: 2.5px;
}

.testmonials .testmonialsBody .opinion .details {
  font-size: 14px;
  color: var(--gray-color);
}
