/* hero */

.home {
  overflow-x: hidden;
}

.hero {
  position: relative;
  background-image: linear-gradient(to left, var(--main-color), #ac62ad);
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  /* min-height: 50vw; */
  padding-block-start: 150px !important;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../../assets/images/Home/Hero/back.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
  opacity: 0.7;
}

@media screen and (max-width: 992px) {
  .hero {
    padding-block: 50px;
  }
}

.heroBody {
  /* height: 100vh; */
  /* align-items: flex-end; */
}

.hero .content {
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  padding-block-end: 150px !important;
  text-transform: capitalize;
  z-index: 1;
  /* min-height: 100vh; */
}
.hero .content .text {
  color: white;
}

.hero .content .text h1 {
  font-weight: 600;
  font-size: 48px;
}

.hero .content .text .description {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .hero .content {
    min-height: 50vh;
  }
}

@media screen and (max-width: 768px) {
  .hero .content .text .special {
    font-size: 32px;
  }

  .hero .content .text h1 {
    font-weight: 600;
    font-size: 35px;
  }

  .hero .content .text .description {
    font-size: 18px;
  }
}

.hero .images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero .images::after {
  content: "";
  position: absolute;
  bottom: -105px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 35vw;
  min-width: 350px;
  height: 7.5px;
  background-color: white;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  display: none;
}

.hero .images picture:first-of-type img {
  width: 100%;
  max-width: 325px !important;
  position: relative;
  z-index: 1;
  transform: translateX(13px);
  -webkit-transform: translateX(13px);
  -moz-transform: translateX(13px);
  -ms-transform: translateX(13px);
  -o-transform: translateX(13px);
}

@media screen and (max-width: 992px) {
  .hero .images {
    margin-block-end: 100px;
  }

  .hero .images::after {
    display: block;
  }

  .hero .images picture:first-of-type img {
    bottom: -100px;
  }
  .hero .images picture.items {
    top: 25px !important;
  }
}

.hero .images picture.items {
  position: absolute;
  top: -50px;
  animation: rotate 20s linear 0s infinite;
  -webkit-animation: rotate 20s linear 0s infinite;
}

.hero .images picture.items img {
  width: 100%;
  max-width: 550px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.hero .images img {
  /* width: 100%;
  max-width: 250px; */
}

/* .hero .images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .images picture img {
  width: 100%;
  max-width: 350px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.hero .images picture:first-child img {
  z-index: 1;
}

.hero .images picture:last-child img {
  z-index: 0;
  max-width: 500px !important;
} */

.offer {
  width: 100%;
  border-end-end-radius: 55px;
  border: 2px solid white;
}

.offer p {
  margin-bottom: 0;
}

.offer .price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: var(--h4-size);
  position: relative;
  background-color: white;
}

.offer .price .percentage {
  position: absolute;
  top: -22.5px;
  left: 50%;
  font-size: 16px;
  text-align: center;
  background-color: var(--main-color);
  color: white;
  width: 150px;
  height: 35px;
  display: grid;
  place-items: center;
  z-index: 1;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  text-transform: uppercase;
}

.offer .price .before {
  position: relative;
  color: #a1a1a1d0;
  font-size: 1.2rem;
}

.offer .price .after {
  color: var(--main-color);
  font-size: 1.2rem;
}

.offer .price .before::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: var(--main-color);
  transform: rotate(-7.5deg);
  -webkit-transform: rotate(-7.5deg);
  -moz-transform: rotate(-7.5deg);
  -ms-transform: rotate(-7.5deg);
  -o-transform: rotate(-7.5deg);
}

.testAndParameters {
  color: white;
  align-items: center;
  position: relative;
  display: flex;
  gap: 60px;
}

.testAndParameters::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  width: 1.5px;
  height: 50px;
  background-color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
  .testAndParameters {
    justify-content: center;
    gap: 0;
  }

  .testAndParameters::before {
    left: 50%;
    display: none;
  }
}

.offer .test .body,
.offer .parameters .body {
  width: 100px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  height: 60px;
}

.offer .test .icon,
.offer .parameters .icon {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--main-color);
  font-size: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.offer .test .data,
.offer .parameters .data {
  text-align: center;
}

.offer .test .data .number,
.offer .parameters .data .number {
  font-size: 22px;
}

.offer .test .data .title,
.offer .parameters .data .title {
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .testAndParameters::before {
    display: none;
  }
  .offer .test .body,
  .offer .parameters .body {
    width: 150px;
    margin: auto !important;
    justify-content: flex-start;
  }
}

/* 

.offer .price .after {
}

.testAndParameters {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.offer .test,
.offer .parameters {
  display: flex;
  align-items: center;
}

.offer .test .body,
.offer .parameters .body {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 60px;
}

.offer .parameters .body {
  width: 175px;
  border-inline-start: 2px white solid;
}

.offer .test .icon,
.offer .parameters .icon {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--main-color);
  font-size: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.offer .test .data p,
.offer .parameters .data p {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer .test .data p.number,
.offer .parameters .data p.number {
  font-size: var(--sub-title-size);
  line-height: 30px;
}

.offer .test .data p.title,
.offer .parameters .data p.title {
  font-size: var(--description-size);
  text-transform: capitalize;
}

@media screen and (max-width: 576px) {
  .offer {
    flex-direction: column;
    border-end-end-radius: 25px;
    border-end-start-radius: 25px;
  }
  .offer .price {
    justify-content: center;
  }
  .testAndParameters {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .offer .parameters .body {
    padding-inline-start: 0px;
    border-inline-start: none;
  }
} */

/* Statistics */

.statistics .item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.statistics .item .info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.statistics .item .info .icon {
  width: 75px;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  color: var(--main-color);
  font-size: 24px;
}

.statistics .item .info .number {
  font-size: 42px;
  color: var(--main-color);
}

.statistics .item .description {
  font-size: 16px;
  /* color: var(--main-color); */
  max-width: 225px;
}

.wrapper {
  position: relative;
  padding-block-end: 100px;
}

.wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 850px;
  background-image: linear-gradient(to top, #dae7fc, transparent);
  z-index: -1;
  opacity: 0.85;
}

.home .link {
  text-align: center;
  text-transform: capitalize;
  max-width: 900px;
  color: var(--gray-color);
  font-size: var(--description-size);
  border: 1px solid var(--gray-color);
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

@media screen and (max-width: 768px) {
  .home .link {
    display: flex;
    flex-direction: column;
  }
}

.home .link a {
  color: var(--main-color);
}

/* advantages */

.advantages {
  width: 100%;
  /* height: 62vh;
  max-height: 475px; */
  /* align-items: center; */
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  padding: 0 !important;
  gap: 50px;
  padding-inline: 25px 65px !important;
}

.bannerOverlay {
  background-color: var(--main-color);
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}

.bannerOverlay::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../../assets/images/Home/testmonails/TestmonialsBack.jpg");
  background-position: center;
  z-index: 0;
  opacity: 0.5;
}

.advantages .image {
  height: 100%;
  /* padding-inline: 50px; */
}

.advantages .image picture img {
  position: relative;
  width: 100%;
  max-width: 1250px;
  /* bottom: -22px; */
}

.advantages .text {
  color: white;
  position: relative;
  top: 25px;

  width: 100%;
  height: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages .text .title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 32px !important;
  /* text-align: justify; */
}

.advantages .text .description {
  font-size: 14px;
  text-align: justify;
  color: #cecece !important;
}

.advantages .text .advantagesTopics {
  font-size: 17px !important;
  display: flex;
  gap: 7.5px;
}

.advantages .text .advantagesTopics .topic {
  background-color: white;
  width: fit-content;
  color: var(--main-color);
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .advantages {
    padding-inline: 25px !important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: var(--main-color);
    padding-block: 25px;
  }
  .advantages .image {
    display: flex;
    align-items: flex-end;
    /* padding-inline: 25px !important; */
  }

  .advantages .text {
    top: 0;
    padding: 25px !important;
  }
  .advantages .text .advantagesTopics {
    flex-wrap: wrap;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 992px) {
  .advantages {
    flex-direction: column-reverse !important;
  }
  .bannerOverlay {
    height: 100%;
  }
  .advantages .image {
    justify-content: center;
  }
  .advantages .image picture img {
    max-width: 500px;
  }

  .advantages .text {
    top: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .advantages .text .description {
    text-align: center;
    color: #cecece !important;
    font-size: 18px !important;
  }
  .advantages .text .advantagesTopics {
    flex-wrap: nowrap;
    font-size: 18px !important;
  }
}

@media screen and (max-width: 768px) {
  .advantages .text .advantagesTopics {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
}

/* testmonials */
.testmonials {
  background-color: var(--main-color);
  padding-block: 100px;
  position: relative;
}
.testmonials::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../../assets/images/Home/testmonails/TestmonialsBack.jpg");
  background-position: center;
  z-index: 0;
  opacity: 1;
}

.testmonials .testmonialsBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.testmonials .testmonialsBody .title {
  font-size: 36px;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
}

.testmonials .testmonialsBody .description {
  font-size: 18px;
  color: white;
  width: 100%;
  max-width: 750px;
}

.testmonials .testmonialsBody .opinion {
  background-color: white;
  margin-inline-end: 15px !important;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 25px !important;
}
.testmonials .testmonialsBody .opinion .personalInfo {
  display: flex;
  flex-wrap: wrap !important;
}
.testmonials .testmonialsBody .opinion .personalInfo .profileImage {
  position: relative;
  width: 100px;
  height: 125px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.testmonials
  .testmonialsBody
  .opinion
  .personalInfo
  .profileImage
  .image
  picture
  img {
  width: 100px;
}
.testmonials .testmonialsBody .opinion .personalInfo .profileImage .qoute {
  position: absolute;
  bottom: 17.5px;
  background-color: var(--main-color);
  color: white;
  width: 30px;
  height: 30px;
  font-size: 16px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testmonials .testmonialsBody .opinion .personalInfo .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  text-transform: capitalize;
}
.testmonials .testmonialsBody .opinion .personalInfo .data .name {
  margin: 0 !important;
  font-size: 24px;
  color: var(--main-color);
}

.testmonials .testmonialsBody .opinion .personalInfo .data .jobTitle {
  font-weight: lighter;
}

.testmonials .testmonialsBody .opinion .personalInfo .rating {
  /* font-size: 10px; */
  display: flex;
  gap: 2.5px;
  align-items: center;
  text-transform: capitalize;
  height: 100px;
}

.testmonials .testmonialsBody .opinion .personalInfo .rating .stars {
  color: #ffb422;
  font-size: 10px;
  display: flex;
  gap: 2.5px;
  align-items: center;
}

.testmonials .testmonialsBody .opinion .details {
  font-size: 17px;
  color: var(--gray-color);
  font-weight: lighter;
}

@media screen and (max-width: 1200px) {
  .testmonials .testmonialsBody .opinion .personalInfo {
    flex-direction: column;
  }
  .testmonials .testmonialsBody .opinion .personalInfo .rating {
    height: auto;
    margin-block-end: 25px;
  }
}
