.homeVisit {
  overflow-x: hidden;
}

.hero {
  max-height: 600px;
  overflow: hidden;
  position: relative;
}

.book .text .mainTitle {
  color: var(--main-color);
  font-size: var(--main-title-size);
}

.formWrapper .content .subtitle {
  color: var(--main-color);
  text-transform: uppercase;
  /* font-family: regularFont; */
}

.formWrapper .content .mainTitle {
  color: var(--main-color);
  text-transform: capitalize;
}

form input {
  padding: 15px 12.5px !important;
  border-radius: 12.5px !important;
  -webkit-border-radius: 12.5px !important;
  -moz-border-radius: 12.5px !important;
  -ms-border-radius: 12.5px !important;
  -o-border-radius: 12.5px !important;
  border: 1px solid var(--main-color) !important;
  background-color: #3f0f42eb !important;
  color: white !important;
}

form input::placeholder {
  
  color: white !important;
}

form input:focus {
  outline: none !important;
  border: 1.5px solid white;
}

form input::placeholder {
  text-transform: capitalize;
}

form::-webkit-calendar-picker-indicator {
  filter: invert(0);
  -webkit-filter: invert(0);
}

form button[type="submit"] {
  background-color: var(--main-color);
  width: fit-content;
  color: white;
  padding: 15px 12.5px !important;
  border-radius: 12.5px !important;
  -webkit-border-radius: 12.5px !important;
  -moz-border-radius: 12.5px !important;
  -ms-border-radius: 12.5px !important;
  -o-border-radius: 12.5px !important;
}

@media screen and (max-width: 768px) {
  form button[type="submit"] {
    margin: auto;
  }
}
