/* bookBanner */

.bookBanner {
  align-items: center;
  position: relative;
  overflow-y: hidden;
  display: flex;
  padding-inline: 50px 25px !important;
}

.bookBanner::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to right, var(--main-color), #200222);
  height: 90%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media screen and (max-width: 992px) {
  .bookBanner {
    padding: 0 !important;
  }

  .bookBanner::before {
    height: 100%;
  }
}

.bookBanner .image {
  position: relative;
  width: 100%;
  max-width: 575px;
}

.bookBanner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 25px;
}

.bookBanner .text {
  color: white;
  position: relative;
}

.bookBanner .text .title {
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
}

.bookBanner .text a {
  text-transform: capitalize;
  background-color: white;
  font-size: large;
  padding: 7.5px 15px;
  color: var(--main-color) !important;

  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@media screen and (max-width: 992px) {
  .bookBanner {
    flex-direction: column;
    padding-block-end: 50px;
    text-align: center;
    gap: 25px;
    padding: 25px 25px 0 25px !important;
  }
  .bookBanner .content {
    top: 0;
  }
  .bookBanner .image {
    max-width: 350px;
  }
  .bookBanner .text .title {
    margin-inline: auto;
    max-width: 100%;
  }
}

.form input,
.form input:focus {
  background-color: #ffffff3f !important;
  color: white;
  font-size: 14px;
  border: 1.5px solid white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 10px 15px;
}

.form input::placeholder {
  color: rgb(222, 222, 222);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  -webkit-filter: invert(1);
}

.form button[type="submit"] {
  font-size: 16px;
  width: 175px;
  color: var(--main-color);
  text-transform: capitalize;
  background-color: white;
  padding: 10px 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-block-start: 20px;
}
