.awardsBody {
  margin-block: 100px !important;
}

.awardsBody .content .subTitle {
  color: #579fe7;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.awardsBody .content .mainTitle {
  color: var(--second-color);
  font-size: 38px;
  text-transform: capitalize;
  line-height: 50px;
}

.awardsBody .content .overWorld {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 250px;
}

.awardsBody .content .overWorld::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/awards/map.svg);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.awardsBody .content .overWorld .number span {
  font-size: 148px;
  line-height: 120px;
  /*  */
}

.awardsBody .content .overWorld .number span:last-child {
  color: var(--main-color);
  position: relative;
  bottom: 25px;
  font-size: 96px;
}

.awardsBody .content .overWorld .title {
  font-size: var(--description-size);
  font-weight: bold;
  color: var(--gray-color);
  text-transform: capitalize;
}

.awardsBody .content .certificateLink {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  color: var(--main-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-size: large;
}

.awardsBody .clients .description {
  color: var(--gray-color);
  font-size: 17px;
}

.awardsBody .clients .clientsGroup {
  justify-content: center;
}

.awardsBody .clients .clientsGroup picture {
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awardsBody .clients .clientsGroup img {
  width: 100%;
  max-width: 200px;
}
