.footer {
  background-color: #f5f8fd;
  /* background-color: red; */
  position: relative;
  margin-block-start: 250px;
  /* overflow: hidden; */
}

.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: #f5f8fd;
  /*background-color: red;
  */
  top: -122.5px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  z-index: -1;
}

.footerBody {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 50px; */
}

.footerBody a {
  color: white !important;
}

.footerBody .main .logo picture img {
  max-width: 120px;
}

.footerBody .main .description {
  font-size: 16px;
  color: var(--gray-color);
  font-weight: 500;
}

.footerBody .main .sci {
  display: flex;
  gap: 10px;
}

.footerBody .main .sci li a {
  background-color: #e8ecf8 !important;
  color: var(--second-color) !important;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  font-size: 12px;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}

.footerBody .main .sci li a:hover {
  background-color: var(--second-color) !important;
  color: #e8ecf8 !important;
}

.footerBody .title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: var(--main-color);
}

.main {
  width: 35%;
}

.quickWrapper {
  width: 17.5%;
}

.contactWrapper {
  width: 22.5%;
}

.openingHoursWrapper {
  width: 20%;
}

@media screen and (max-width:1400px) {
  .main {
    width: 25%;
  }
  
  .quickWrapper {
    width: 15%;
  }
  
  .contactWrapper {
    width: 25%;
  }
  
  .openingHoursWrapper {
    width: 25%;
  }
}

@media screen and (max-width:1100px) {
  .footerBody{
    gap: 25px;
  }
  .main {
    width: 100%;
  }
  
  .quickWrapper {
    width: 20%;
  }
  
  .contactWrapper {
    width: 50%;
  }
  
  .openingHoursWrapper {
    width: 50%;
  }
}


@media screen and (max-width:992px) {
  .footerBody{
    gap: 25px;
  }
  .main {
    width: 100%;
  }
  
  .quickWrapper {
    width: 35%;
  }
  
  .contactWrapper {
    width: 50%;
  }
  
  .openingHoursWrapper {
    width: 100%;
  }
}

@media screen and (max-width:576px) {
  .footerBody{
    gap: 25px;
  }
  .main,.quickWrapper,.contactWrapper,.openingHoursWrapper {
    width: 100%;
  }
}



/* @media screen and (max-width: 992px) {
  .footerBody {

    justify-content: flex-start !important;

  }
  .main {
    width: 450px;
  }

  .quickLinks,
  .openingHours {
    width: 350px;
  }
  .contacts {
    width: 300px;
  }
} */

.footerBody .quickLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 18px;
}

.footerBody .openingHours {
  display: flex;
  text-transform: capitalize;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
}

.footerBody .openingHours li {
  display: flex;
  justify-content: space-between;
  column-gap: 50px !important;
}

.footerBody .openingHours li span:first-of-type {
  color: var(--main-color);
  width: 100px;
}

.footerBody .openingHours li span:last-of-type {
  color: var(--main-color);
  display: flex;
  justify-content: center;
}

.footerBody .contacts {
  display: flex;
  flex-direction: column;
  gap: 13.5px;
  font-weight: 500;
  font-size: 18px;
}

.footerBody .contacts .data a {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: fit-content;
}

.footerBody .contacts .data a i {
  position: relative;
  top: 5px;
}

.footerBody .contacts .data span {
  direction: ltr;
}

.footerBody .contacts .data a,
.footerBody .quickLinks a {
  color: var(--main-color) !important;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}

/* 




 */
