:root {
  /* colors */
  --main-color: #3f0f42;
  --second-color: #1e2862;
  --gray-color: #6f7f8e;
  --blue-color: #1b70bd;
  /* fonts */
  --sub-title-size: clamp(20px, 2vw, 28px);
  --main-title-size: clamp(40px, 3.5vw, 55px);
  --h3-title-size: clamp(18px, 2.5vw, 22px);
  --h4-size: clamp(16px, 2vw, 20px);
  --description-size: clamp(16px, 2vw, 20px);
}

/* Arabic Font */

@font-face {
  font-family: thinArFont;
  src: url(assets/fonts/ArabicFont/IBMPlexSansArabic-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: exLightArFont;
  src: url(assets/fonts/ArabicFont/IBMPlexSansArabic-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: lightArFont;
  src: url(assets/fonts/ArabicFont/IBMPlexSansArabic-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: regularArFont;
  src: url(assets/fonts/ArabicFont/IBMPlexSansArabic-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: mediumArFont;
  src: url(assets/fonts/ArabicFont/IBMPlexSansArabic-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: semiBoldArFont;
  src: url(assets/fonts/ArabicFont/IBMPlexSansArabic-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: boldArFont;
  src: url(assets/fonts/ArabicFont/IBMPlexSansArabic-Bold.ttf);
  font-weight: 700;
}

/* special arabic fonts */

@font-face {
  font-family: specialArFont1;
  src: url(assets/fonts/Special1Arabic/dastnevis.otf);
}

@font-face {
  font-family: specialArFont2;
  src: url(assets/fonts/Special2Arabic/STCForward-Bold.otf);
}

/* English Font */

@font-face {
  font-family: lightEnFont;
  src: url(assets/fonts/EnglishFont/RedHatDisplay-Light.ttf);
  font-weight: 100;
}

@font-face {
  font-family: regularEnFont;
  src: url(assets/fonts/EnglishFont/RedHatDisplay-Regular.ttf);
  font-weight: 200;
}

@font-face {
  font-family: mediumEnFont;
  src: url(assets/fonts/EnglishFont/RedHatDisplay-Medium.ttf);
  font-weight: 300;
}

@font-face {
  font-family: semiBoldEnFont;
  src: url(assets/fonts/EnglishFont/RedHatDisplay-SemiBold.ttf);
  font-weight: 400;
}

@font-face {
  font-family: boldEnFont;
  src: url(assets/fonts/EnglishFont/RedHatDisplay-Bold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: exBoldEnFont;
  src: url(assets/fonts/EnglishFont/RedHatDisplay-ExtraBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: blackEnFont;
  src: url(assets/fonts/EnglishFont/RedHatDisplay-Black.ttf);
  font-weight: 700;
}

/* arabic fonts classes */

.thinArFont {
  font-family: thinArFont;
}
.exLightArFont {
  font-family: exLightArFont;
}
.lightArFont {
  font-family: lightArFont;
}
.regularArFont {
  font-family: regularArFont;
}
.mediumArFont {
  font-family: mediumArFont;
}
.semiBoldArFont {
  font-family: semiBoldArFont;
}
.boldArFont {
  font-family: boldArFont;
}

.specialArFont1 {
  font-family: specialArFont1;
}
.specialArFont2 {
  font-family: specialArFont2;
}

/* english fonts classes */

.lightEnFont {
  font-family: lightEnFont;
}
.regularEnFont {
  font-family: regularEnFont;
}
.mediumEnFont {
  font-family: mediumEnFont;
}
.semiBoldEnFont {
  font-family: semiBoldEnFont;
}
.boldEnFont {
  font-family: boldEnFont;
}
.exBoldEnFont {
  font-family: exBoldEnFont;
}
.blackEnFont {
  font-family: blackEnFont;
}

/* .enFont {
  font-family: regularEnFont !important;
}

.arFont {
  font-family: regularArFont !important;
}

.specialArabicFont {
  font-family: specialArFont !important;
} */

/* Custom container */

.customContainer {
  width: 90%;
  max-width: 1330px;
  margin: auto;
  /* background-color: gray; */
}

.accordionTitle button::after {
  display: none;
}

.accordionTitle button{
  display: flex;
  justify-content: space-between;
}

/* scroll to top button */
.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
}

.scroll-to-top button {
  background-color: var(--main-color);
  color: white;
  border: 2px solid white;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  /*padding: 0.5rem 1rem;
  */
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}

.scroll-to-top button:hover {
  background-color: var(--second-color);
}

/* General rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: regularFont; */
}

body {
  /* margin-block-end: 100px !important; */
}

ul {
  list-style-type: none;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

a,
button {
  outline: 0;
  border: 0;
}

img {
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  display: block;
}

input,
textarea {
  outline: 0;
  box-shadow: none !important;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 0;
}

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}
.btn:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

/* .sectionBody {
  width: 85%;
}

@media screen and (max-width: 768px) {
  .sectionBody {
    width: 95%;
  }
}

@media screen and (max-width: 576px) {
  .sectionBody {
    width: 100%;
  }
} */

/* LOADING Component */
/* UI Element */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.loading svg polyline {
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: #3f0f42a2;
}

.loading svg polyline#front {
  fill: none;
  stroke: var(--main-color);
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: heart 1.4s linear infinite;
  -webkit-animation: heart 1.4s linear infinite;
}

@keyframes heart {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}

/* Components */

/* header */

.header {
  display: flex;

  align-items: center;
}

.header .logo {
  display: flex;
  flex: 1;
  position: relative;
  z-index: 10;
}

.header .logo picture img {
  width: 75px;
}

.navigationAndSci {
  display: flex;
  flex: 3;
  justify-content: space-between;
  position: relative;
  z-index: 9;
}

.navigation,
.sci {
  display: flex;
  text-transform: capitalize;
}

@media screen and (max-width: 1200px) {
  .header .logo {
    flex: 0.75;
  }

  .navigationAndSci {
    flex: 3.75;
  }
}

@media screen and (max-width: 992px) {
  .navigationAndSci {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 35px;
    transition: 0.3s all linear;
    -webkit-transition: 0.3s all linear;
    -moz-transition: 0.3s all linear;
    -ms-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
  }

  .navigationAndSci::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 1;
    z-index: -1;
  }

  .navigationAndSci.active {
    top: 0;
  }

  .header .logo,
  .navigationAndSci {
    flex: 1;
  }

  .navigationAndSci .navigation {
    flex-direction: column;
    align-items: center;
    gap: 17.5px;
    font-size: 1.25rem;
  }

  .navigationAndSci .sci {
    gap: 25px;
  }
}

.navigation {
  gap: 40px;
}

.sci {
  gap: 10px;
}

.navigation li {
  display: flex;
  align-items: center;
}

.navigation li a {
  /*  */
  font-weight: 600;
  color: var(--main-color);
}

.sci li a {
  /*  */
  color: var(--second-color);
  background-color: rgb(241, 246, 255);
  display: block;
  width: 32px !important;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 12px;
}

/* burger */
/* UI Element */
.burger {
  display: none;
  position: relative;
  z-index: 10;
}

.burger.active {
  background-color: red;
}

@media screen and (max-width: 992px) {
  .burger {
    display: block;
  }
}

#checkbox2 {
  display: none;
}

.toggle2 {
  position: relative;
  width: 28px;
  height: 32px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 3.5px;
  background-color: var(--main-color);
  border-radius: 6px;
}

#bar5 {
  transition-duration: 0.8s;
}

#bar4,
#bar6 {
  width: 100%;
}

#checkbox2:checked + .toggle2 .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 #bar5 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 #bar4 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 #bar6 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox2:checked + .toggle2 {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

/* Home Page */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  height: 100%;
  max-height: 600px !important;
}

.mySwiper picture img {
  height: 100%;
}
